*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  gap: 28px;
  max-width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
}

.search-form__fieldset-title {
  display: inline-block;
  padding-bottom: 4px;
  font-size: inherit;
  font-weight: inherit;
  line-height: normal;
}

.search-form__textfield {
  display: inline-block;
  min-width: 225px;
  min-height: 27px;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  outline: none;
  background-color: transparent;
  border-block: 1px solid #fff;
  border-inline: 1px solid transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-inline: 1px solid #fff;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__textfield:active) {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 5px;
}

.search-form__label .search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  background-color: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  width: 15px;
  height: 15px;
  margin: 2px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  background-color: #fff;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox {
  width: 15px;
  height: 15px;
  margin: 2px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  background-color: #fff;
}

.button {
  flex-grow: 1;
  height: 34px;
  padding: 6px 0;
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: inherit;
  line-height: normal;
  color: inherit;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  min-height: 534px;
  margin-bottom: -3px;
  padding-left: 2px;
}

.content__list {
  position: relative;
  max-height: 298px;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 2px;
}

.content__list-item {
  min-width: 399px;
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__video-card {
  max-width: 398px;
  display: flex;
  padding: 2px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.937;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
}

.content__video-card-description {
  color: #fff;
  font-size: inherit;
  font-weight: 400;
  line-height: 0.9;
  overflow-wrap: normal;
}

.content__card-link {
  display: block;
  text-decoration-line: none;
}

.content__card-link_current {
  background-color: #545050;
  text-decoration-line: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__card-link:hover {
  text-decoration: underline;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration-line: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.more-button {
  width: 99%;
  margin-left: 2px;
}
